@charset "UTF-8";
* {
  font-family: "Cambria";
}

a:focus {
  outline: none !important;
}

.wrap {
  max-width: 1560px;
  margin: 0px auto;
  padding: 0px 20px;
}

.overflow {
  overflow: hidden;
}

.button {
  padding: 7px 10px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  transition: 0.3s;
  border: none;
}
.button:hover {
  box-shadow: 0 0px 7px 0.5px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 35px;
  font-family: "Cambria";
  font-weight: bold;
  text-align: center;
}

.header__dropdown {
  font-size: 20px;
  border: none;
  padding: 0;
  padding-right: 25px;
  height: 28px;
  line-height: 28px;
}
.header__logo {
  margin-right: 20px;
  margin-right: auto;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}
.header__content {
  max-width: 765px;
  display: flex;
}
.header .nice-select:after {
  border-color: #000000;
}
.header__heading {
  font-weight: bold;
  font-size: 14px;
  color: #0e3048;
}
.header__button {
  background: linear-gradient(16deg, #0e3048 0%, #3e546b 100%);
  background: -ms-linear-gradient(16deg, #0e3048 0%, #3e546b 100%);
  max-width: 145px;
  width: 100%;
}
.header__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 260px;
  min-width: 260px;
  height: 70px;
}
.header__mail {
  text-decoration: none;
  color: #0e3048;
  font-size: 20px;
}
.header__lang li {
  display: flex;
}

.socials {
  display: flex;
  align-items: center;
}
.socials__item {
  color: #0e3048;
  text-decoration: none;
  margin: 0px 4px;
}

.login-field {
  font-size: 20px;
}
.login-field__item {
  text-decoration: none;
  color: #0e3048;
}
.login-field__item:hover {
  text-decoration: underline;
}
.login-field .icon-user {
  margin-right: 5px;
}
.login-field span {
  color: #0e3048;
}

.header-catalog {
  margin-right: auto;
}

.catalog-nav {
  font-family: "Cambria";
  transition: 0.15s;
  position: relative;
  z-index: 4;
  margin-right: auto;
}
.catalog-nav:hover > .catalog-nav__dropdown {
  display: block;
}
.catalog-nav__title {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 342px;
  height: 65px;
  padding: 0 44px 0 18px;
  transition: background-color 0.15s;
}
.catalog-nav:hover {
  background-color: #0C283C;
}
.catalog-nav__dropdown {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 0 13px rgba(36, 66, 125, 0.2);
}
.catalog-nav__list {
  padding: 5px 0 5px;
}
.catalog-nav__dropdown-item, .catalog-nav__dropdown-second-item, .catalog-nav__dropdown-third-item {
  min-height: 40px;
  display: flex;
  align-items: center;
  min-height: 56px;
}
.catalog-nav__dropdown-item svg, .catalog-nav__dropdown-second-item svg, .catalog-nav__dropdown-third-item svg {
  transition: 0.3s;
}
.catalog-nav__dropdown-item .icon-chevron, .catalog-nav__dropdown-second-item .icon-chevron, .catalog-nav__dropdown-third-item .icon-chevron {
  transition: 0.3s;
}
.catalog-nav__dropdown-item:hover, .catalog-nav__dropdown-second-item:hover, .catalog-nav__dropdown-third-item:hover {
  background-color: rgba(63, 78, 93, 0.05);
}
.catalog-nav__dropdown-item:hover svg, .catalog-nav__dropdown-second-item:hover svg, .catalog-nav__dropdown-third-item:hover svg {
  fill: #e02d1a;
}
.catalog-nav__dropdown-item:hover > button .icon-chevron, .catalog-nav__dropdown-second-item:hover > button .icon-chevron, .catalog-nav__dropdown-third-item:hover > button .icon-chevron {
  color: #e02d1a;
}
.catalog-nav__dropdown-item:hover > .catalog-nav__dropdown-second, .catalog-nav__dropdown-second-item:hover > .catalog-nav__dropdown-second, .catalog-nav__dropdown-third-item:hover > .catalog-nav__dropdown-second {
  display: block;
}
.catalog-nav__dropdown-second-item:hover > .catalog-nav__dropdown-third {
  display: block;
}
.catalog-nav__dropdown-third {
  display: none;
  position: absolute;
  padding: 12px 0 5px;
  top: 0;
  min-height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  width: 320px;
  transition: left 0.5s;
  left: 302px;
}
.catalog-nav__dropdown-link, .catalog-nav__dropdown-second-link, .catalog-nav__dropdown-third-link {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0 0%;
  color: #242323 !important;
  font-size: 18px;
  line-height: 1.1;
  padding: 5px 10px 5px 34px;
}
.catalog-nav__dropdown-link figure, .catalog-nav__dropdown-second-link figure, .catalog-nav__dropdown-third-link figure {
  margin-right: 20px;
}
.catalog-nav__dropdown-second {
  display: none;
  position: absolute;
  padding: 12px 0 5px;
  top: 0;
  min-height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  width: 320px;
  transition: left 0.5s;
  left: 402px;
}
.catalog-nav__btn-toggle {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 0;
  background-color: transparent;
  line-height: 1;
  position: relative;
  width: 46px;
  height: 46px;
  margin-right: 12px;
}
.catalog-nav__btn-toggle span {
  font-size: 12px;
  display: block;
  transform: rotate(-90deg);
}
.catalog-nav__dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 0 13px rgba(36, 66, 125, 0.2);
}
.catalog-nav__hamburger-line {
  width: 24px;
  height: 2px;
  background-color: #fffefe;
  display: block;
  margin: 4px auto;
}
.catalog-nav__title-link {
  color: #fffefe;
  font-size: 18px;
  line-height: 16px;
  transition: color 0.15s;
  text-decoration: none;
}
.catalog-nav__hamburger {
  display: block;
  width: 24px;
  margin-right: 46px;
  padding: 0;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 0;
  background-color: transparent;
  line-height: 1;
}
.catalog-nav__btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url(../img/icons/close.svg) no-repeat 50%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.menu {
  background: #0e3048;
}
.menu a {
  text-decoration: none;
  font-family: "Cambria";
}
.menu__item {
  font-size: 20px;
  padding: 7px 15px;
  border-radius: 20px;
  transition: 0.3s;
  min-width: -webkit-max-content;
  min-width: max-content;
}
.menu__item:hover {
  text-decoration: underline;
}
.menu__list {
  display: flex;
  position: relative;
  max-width: 1140px;
  width: 100%;
  justify-content: space-between;
  transition: 0.3s;
  margin: 0px auto;
}
.menu__list a {
  color: #ffffff;
}
.menu__list--mobile {
  display: none;
}
.menu__burger {
  display: none;
  flex-direction: column;
  width: 30px;
  min-width: 30px;
  height: 25px;
  justify-content: space-between;
  cursor: pointer;
}
.menu__line {
  width: 100%;
  height: 2px;
  background: #ffffff;
}
.menu__wrap {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}
.menu__controls {
  display: flex;
  width: 100%;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.menu__button {
  padding: 7px;
  border-radius: 20px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  transition: 0.3s;
}
.menu__button--counter {
  color: #0e3048;
  font-weight: bold;
  margin-left: 5px;
}
.menu__button:hover {
  box-shadow: 0 0px 7px 0.5px white;
}
.menu__cart {
  min-width: 50px;
}
.menu__toggler {
  display: flex;
  align-items: center;
  position: relative;
}
.menu__toggler .icon-chevron {
  font-size: 7px;
  margin-left: 10px;
}
.menu__toggler:hover {
  background: #ffffff;
  color: #0e3048 !important;
  text-decoration: none;
}
.menu__toggler--active {
  background: #ffffff;
  color: #0e3048 !important;
}
.menu__search {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 245px;
  min-width: 245px;
  width: 100%;
}
.menu__search input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 35px;
  color: #0e3048;
}
.menu__search .icon-search {
  position: absolute;
  left: 10px;
}

.mainBanner {
  position: relative;
  font-family: "Cambria";
}
.mainBanner__photo {
  width: 100%;
  min-height: 380px;
  overflow: hidden;
}
.mainBanner__photo img {
  width: 100%;
}
.mainBanner .bold {
  font-weight: bold;
}
.mainBanner__desc {
  font-size: 36px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  background: rgba(14, 48, 72, 0.8);
  color: #ffffff;
  width: 100%;
}

.new {
  background: #f1f1f1;
  padding-top: 75px;
  padding-bottom: 75px;
}
.new__title {
  margin-bottom: 65px;
}
.new__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #E6E6E6;
  padding: 25px 40px;
  box-sizing: border-box;
  grid-column: 1/2;
  position: relative;
}
.new__item .menu__button {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  transition: 0.3s;
  background: #eeeeee;
}
.new__item:hover .menu__button {
  opacity: 1;
}
.new__item:hover .menu__button:hover {
  box-shadow: 0 0px 7px 0.5px rgba(0, 0, 0, 0.3);
}
.new__item--small {
  grid-column: 2/3;
  grid-row: span 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new__item--small .new__desc {
  margin: 0px auto;
  margin-top: 70px;
}
.new__item--small .new__img {
  margin: 0px auto;
}
.new__item--small img {
  margin-right: 0;
}
.new__item--small .slick-list {
  width: 100%;
}
.new__item--medium {
  grid-column: 3/4;
}
.new__slider {
  display: flex;
}
.new__heading {
  font-size: 28px;
  font-weight: bold;
  color: #0e3048;
  margin-bottom: 35px;
}
.new__price {
  font-size: 22px;
  margin-bottom: 25px;
}
.new__slide {
  display: flex;
  justify-content: center;
}
.new__button {
  background: #f1f1f1;
  max-width: 130px;
  color: #0e3048;
  font-size: 17px;
  width: 100%;
}
.new__img {
  max-width: 260px;
  margin-right: 20px;
}
.new__img img {
  width: 100%;
}
.new__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 235px;
  text-align: center;
}
.new__grid {
  display: grid;
  margin: 0px auto;
  grid-template-columns: 615px, 355px, 460px;
  grid-template-rows: repeat(auto-fit, 280px);
  grid-gap: 20px;
}
.new__next span {
  transform: rotate(-90deg);
  margin-left: 10px;
}
.new__prev span {
  transform: rotate(90deg);
  margin-right: 10px;
}
.new__arrow {
  display: flex !important;
  align-items: center;
}
.new__arrow span {
  display: block;
}
.new__arrows {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.catalog {
  background: #718eaa;
}
.catalog__wrap {
  padding-top: 75px;
  padding-bottom: 75px;
}
.catalog__title {
  color: #ffffff;
  margin-bottom: 45px;
}
.catalog__grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, minmax(280px, 490px));
}
.catalog__item {
  max-width: 490px;
  width: 100%;
  position: relative;
}
.catalog__item img {
  transition: 0.3s;
}
.catalog__item:hover img {
  transform: scale(1.05);
}
.catalog__desc {
  font-size: 36px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  padding-left: 20px;
  font-weight: bold;
  box-sizing: border-box;
  background: rgba(14, 48, 72, 0.8);
  color: #ffffff;
  width: 100%;
}
.catalog__img {
  width: 100%;
  overflow: hidden;
}
.catalog__img img {
  width: 100%;
}

.about {
  background: url(../../img/about-bg.png);
  background-size: cover;
  background-position: -100px;
}
.about__wrap {
  padding-top: 140px;
  padding-bottom: 140px;
}
.about__title {
  text-align: left;
  margin-bottom: 65px;
}
.about__paragraph {
  font-size: 24px;
  max-width: 750px;
  line-height: 33px;
}

.footer {
  background: #0e3048;
}
.footer__wrap {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: "Cambria";
  flex-wrap: wrap;
}
.footer__col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width: 420px;
  min-width: 420px;
  width: 100%;
}
.footer__col--wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer__heading--wMargin {
  margin-bottom: 35px;
}
.footer__list li {
  margin-bottom: 17px;
}
.footer__list li a {
  color: #ffffff;
  text-decoration: none;
}
.footer .socials__item {
  color: #ffffff;
}
.footer__row:first-child {
  margin-bottom: 60px;
}
.footer__answer {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}
.footer__answer--button {
  max-width: 145px;
  background: #758594;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer__answer--button:hover {
  box-shadow: 0 0px 7px 0.5px rgba(255, 255, 255, 0.3);
}
.footer__answer--heading {
  font-size: 14px;
  margin-bottom: 10px;
}
.footer__answer--mail {
  font-size: 20px;
  margin-bottom: 10px;
}
.footer__copy {
  max-width: 130px;
  font-size: 9px;
}
.footer__graphic {
  display: flex;
  flex-direction: column;
}
.footer__graphic--small {
  font-size: 14px;
  margin-bottom: 5px;
}
.footer__graphic--big {
  font-size: 20px;
  margin-bottom: 5px;
}
.footer__logo {
  margin-bottom: 35px;
}

.popups {
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.popups__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup {
  padding: 30px 20px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0px auto;
  position: relative;
}
.popup .menu__search {
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
}
.popup__button {
  background: #0e3048;
  display: block;
  margin: 0px auto;
}
.popup__heading {
  font-size: 24px;
  font-weight: bold;
  color: #0e3048;
  margin-bottom: 20px;
}
.popup__close {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.popup__close img {
  width: 100%;
}

.content__wrap {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
}

.filter {
  background: #ffffff;
  border: 1px solid #E6E6E6;
  max-width: calc(25% - 10px);
  width: 100%;
  margin-right: 10px;
  padding: 25px 10px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Cambria";
  /* оформляем текст label */
  /* вид текста label при активном переключателе */
  /* когда чекбокс активен показываем блоки с содержанием  */
}
.filter__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.filter__heading .icon-chevron {
  transition: 0.15s;
  font-size: 12px;
  transform: rotate(-90deg);
}
.filter .title {
  margin-bottom: 20px;
}
.filter__option {
  padding: 10px;
  display: flex;
  align-items: center;
}
.filter__option:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}
.filter__option input {
  margin-right: 15px;
}
.filter__name {
  width: 100%;
  display: inline-block;
}
.filter .hide {
  display: none;
}
.filter .hide + label ~ div {
  overflow: hidden;
  height: 0;
  box-sizing: border-box;
}
.filter .hide + label {
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
.filter .hide:checked + label {
  border-bottom: 0;
}
.filter .hide:checked + label + div {
  z-index: 1;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
}
.filter .hide:checked + label > .filter__heading .icon-chevron {
  transform: rotate(0deg);
}

.catalog-grid {
  max-width: 75%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 5px));
  grid-gap: 10px;
}
.catalog-grid__item {
  grid-row: unset;
  grid-column: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #E6E6E6;
  padding: 25px 40px;
  box-sizing: border-box;
  position: relative;
}
.catalog-grid__item .new__img {
  margin: 0;
  margin-bottom: 15px;
}
.catalog-grid__item .menu__button {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  transition: 0.3s;
}
.catalog-grid__item:hover .menu__button {
  opacity: 1;
}
.catalog-grid__item:hover .menu__button:hover {
  box-shadow: 0 0px 7px 0.5px rgba(0, 0, 0, 0.3);
}