@media screen and (max-width: 1400px) {
  .new__grid {
    grid-template-columns: repeat(auto-fit, minmax(355px));
    grid-auto-flow: column;
  }
  .new__slide {
    margin: 0px auto;
  }
  .new__item {
    grid-column: span 1;
    flex-direction: column;
    grid-row: span 2;
  }
  .new__item--small {
    grid-column: span 2;
    flex-direction: row;
    justify-content: space-between;
  }
  .new__item--small .new__desc {
    margin-top: 0;
  }
  .new__item--medium {
    grid-column: 1/2;
  }
}
@media screen and (max-width: 1175px) {
  .catalog-grid {
    grid-template-columns: repeat(3, calc(33% - 5px));
  }
}
@media screen and (max-width: 1050px) {
  .catalog-nav__title {
    width: 260px;
  }
  .catalog-nav__dropdown-second {
    left: 322px;
    width: 250px;
  }
  .catalog-nav__dropdown-third {
    width: 250px;
    left: 250px;
  }
}
@media screen and (max-width: 940px) {
  .header__item {
    min-width: 190px;
    margin-right: 20px;
  }

  .menu__item {
    font-size: 17px;
    padding: 5px 10px;
  }

  .mainBanner__photo {
    height: 100%;
    height: 380px;
    overflow: hidden;
  }
  .mainBanner__photo img {
    width: auto;
    height: 100%;
  }

  .catalog__grid {
    grid-template-columns: repeat(2, minmax(280px, 490px));
    grid-gap: 20px;
  }
}
@media screen and (max-width: 860px) {
  .catalog-grid {
    max-width: 100%;
  }

  .header-catalog {
    margin-top: 10px;
    right: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    order: 1;
  }

  .catalog-nav__dropdown-item, .catalog-nav__dropdown-second-item, .catalog-nav__dropdown-third-item {
    display: block;
    position: relative;
    width: auto;
    margin: 0 0 0 30px;
    padding: 0;
    min-height: auto;
  }
  .catalog-nav__dropdown-item:hover > .catalog-nav__btn-toggle, .catalog-nav__dropdown-second-item:hover > .catalog-nav__btn-toggle, .catalog-nav__dropdown-third-item:hover > .catalog-nav__btn-toggle {
    transform: rotate(90deg);
  }
  .catalog-nav__title {
    width: 100%;
    justify-content: center;
  }
  .catalog-nav__btn-toggle {
    position: absolute;
    right: 0;
    top: 1px;
    width: 46px;
    height: 46px;
    padding: 8px;
    transition: 0.3s;
  }
  .catalog-nav__dropdown-item {
    margin-left: 0;
  }
  .catalog-nav__dropdown-item:hover .catalog-nav__dropdown-second {
    display: block;
  }
  .catalog-nav__dropdown-second, .catalog-nav__dropdown-third {
    padding: 0;
    border-left: 0;
    position: static;
    width: auto;
    display: none;
    box-shadow: none;
  }
  .catalog-nav__dropdown-link, .catalog-nav__dropdown-second-link, .catalog-nav__dropdown-third-link {
    position: relative;
    display: block;
    border: 0;
    border-left: 6px solid transparent;
    padding: 16px 40px 16px 10px;
    color: #000001;
    font-size: 15px;
    line-height: 1.1;
    border-bottom: 1px solid #0e3048;
  }
  .catalog-nav__dropdown-link figure, .catalog-nav__dropdown-second-link figure, .catalog-nav__dropdown-third-link figure {
    display: none;
  }
  .catalog-nav__title {
    min-width: 200px;
    box-sizing: border-box;
  }
  .catalog-nav__title-link {
    font-size: 17px;
  }

  .content__wrap {
    flex-direction: column;
    align-items: center;
  }

  .filter {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu__controls {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-top: none;
  }
  .menu__search {
    min-width: auto;
  }
  .menu__list {
    flex-direction: column;
    justify-content: flex-start;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu__list--mobile {
    display: flex;
  }
  .menu__burger {
    display: flex;
    margin-right: 20px;
  }
  .menu__toggler {
    max-width: -webkit-min-content;
    max-width: min-content;
    display: block;
    position: relative !important;
  }
  .menu__dropdown {
    bottom: -95px;
    z-index: 100;
  }
  .menu__item {
    color: #0e3048 !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .new__grid {
    grid-auto-flow: row;
    grid-gap: 10px;
  }
  .new__item {
    order: 1;
  }
  .new__item .menu__button {
    opacity: 1;
  }
  .new__item--small {
    order: 2;
  }
  .new__item--medium {
    grid-column: unset;
    order: 3;
  }
}
@media screen and (max-width: 760px) {
  .header__wrap {
    flex-wrap: wrap;
  }
  .header__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header__content {
    flex-wrap: wrap;
  }
  .header__item {
    margin-right: 0;
    margin-left: 20px;
  }

  .mainBanner__heading {
    font-size: 24px;
  }

  .new__heading {
    font-size: 22px;
  }

  .about {
    background: #f1f1f1;
  }
  .about__wrap {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__paragraph {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (max-width: 630px) {
  .catalog__grid {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 10px;
  }
  .catalog__item {
    max-width: 100%;
  }
  .catalog__desc {
    font-size: 24px;
  }

  .catalog-grid {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}
@media screen and (max-width: 550px) {
  .header__dropdown {
    font-size: 16px;
  }
  .header__wrap {
    align-items: flex-start;
  }
  .header__item {
    min-width: 0;
    margin-left: 10px;
    height: 60px;
  }

  .new__grid {
    width: 100%;
    grid-template-columns: 100%;
  }
  .new__item {
    grid-column: 1/2;
  }
  .new__item--small {
    flex-direction: column;
  }
  .new__img {
    margin-bottom: 20px;
  }
  .new__title {
    margin-bottom: 30px;
  }

  .title {
    font-size: 24px;
  }

  .about__paragraph {
    font-size: 16px;
  }
  .about__wrap {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__col {
    max-width: 100%;
    flex-wrap: wrap;
    min-width: 265px;
  }

  .menu__search {
    max-width: 160px;
  }
}
@media screen and (max-width: 550px) {
  .catalog-grid {
    grid-template-columns: repeat(1, 100%);
  }
}
@media screen and (max-width: 380px) {
  .header__mail {
    font-size: 14px;
  }
  .header .login-field {
    font-size: 14px;
  }
}