
@font-face{
    src: url(../../fonts/Cambria.ttf);
    font-family: 'Cambria';
    font-weight: normal;
    font-style: normal;
}

@font-face{
    src: url(../../fonts/cambriab.ttf);
    font-family: 'Cambria';
    font-weight: bold;
    font-style: normal;
}

@font-face{
    src: url(../../fonts/CAMBRIAI.TTF);
    font-family: 'Cambria';
    font-weight: normal;
    font-style: italic;
}

@font-face{
    src: url(../../fonts/CAMBRIAZ.TTF);
    font-family: 'Cambria';
    font-weight: bold;
    font-style: italic;
}